<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <%= user.credit %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "credit", editcredit_path(:id => user.id) %>
         | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>