<h1> Check out </h1>

<ul class="checkout">
<table style="width:50%" class="order_table" align="center">
    <tr>
    	<th width="40%"> Item Name</th>
    	<th width="20%"> Price (INR) </th>
    	<% if current_user.admin? %>
    		<th></th>
    	<% else %>
    		<th> Quantity </th>
  		<% end %>
    </tr>
  <% @items.each do |item| %>
  	<tr>
    <td> <%= item.name %> <%= item.id %> </td>
    <td> <%= item.price %> </td>
    <td> <%= @quantities["#{item.id}"][:quantity] %> </td>
    </tr>
  <% end %>
  <tr> <th> Total amount: </th> <th colspan="2"><%= Item.total_order_cost(@items, @quantities) %> </th></tr>

  
  <tr><td align="center">
  		<div><input type="button" value="Back" onClick="history.go(-1);return true;" class="btn btn-primary"></div>
  		</td>
		<td align="left">  		
		</br>							
  		<%= button_to "Buy Order", { action: "create", :controller=>"orders", 
  									:items => @items, :quantities => @quantities }, 
  							   		data: { confirm: "Proceed to pay?" }, class: "btn btn-primary"  %>
  		</td>
  		
  </tr>
</table>  		
</ul>
